.sidebar {
    background-color: #2d3436;
    position: fixed;
    height: 100%;
    width: 250px;
    left: -250px;
    transition: left 0.2s ease-in-out;
}

.sidebar ul {
    height: 100%;
    overflow-y: auto; 
}

.sidebar ul li a {
    font-size: 13px;
    color: #BDBDC7 !important;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    font-weight: normal;
    gap: 8px;    
    border-bottom: 1px dashed #f9f9f92b;
    transition: padding-left 0.2s ease-in-out, color 0.2s ease-in-out;
}
.sidebar ul li a:hover {
    padding-left: 13px;
}

.sidebar ul li a i {
    font-size: 15px;
}


.dashboard-icon {
    width: 100%; 
    padding:25px 10px;
    border-bottom: 1px dashed #2d3436;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-icon img {
    width: 130px;
}

.sidebar ul li a:hover {
    /*background: linear-gradient(to right, #5772FE , #6D85FB);*/
    color: #fff !important;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1172px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background: #fff;
    width: 100%;
    border-bottom:1px solid #dfdfdf;
}

.flexbox {
    display: flex;
}

.sidebar-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.4);
    display: block;
    opacity: 0;
    pointer-events: none; /* Prevent interaction when hidden */
    transition: opacity 0.5s ease-in-out;
}

.expand-sidebar {
    color: #2c3436;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -36px;
    z-index: 2000;
    top: 12px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    background-color: #fff;
 
}

.expand-sidebar a {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.expand-sidebar a:hover,
.expand-sidebar a:focus,
.expand-sidebar a:active {
    color: #2c3436; 
}

.open-mask {
    opacity: 1;
    pointer-events: auto; 
}

.open-sidebar {
    left: 0px;
}

.navbar-list {
    display: flex;
    gap: 10px;
}
 
.navbar-list li a {
    font-size: 15px;
    color: #999;
    font-weight: normal;
    display: flex;
    gap: 10px; 
}

.navbar-list li a:hover {
    color: #000 !important;
}

.left-sidebar {
    margin-left: auto;
}


/*Table Responsive*/
.tableContainer {
    overflow-x: auto;
    margin: 20px 0;
  
  }
  
  .tableContainer table tr td {
    color: #999;
    font-size: 14px;
  }
  .tableContainer table thead tr th {
    font-weight: bold;
    background-color: #fff;
    color:rgb(131, 98, 55) !important;
    border: none; 
    border-top: 2px solid tan;
    border-bottom: 2px solid tan;
  }

  .tableContainer table thead:last-child tr th {
    border-top: 2px solid tan;
    border-bottom: 2px solid tan;
 
  }

  .responsiveTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .responsiveTable th,
  .responsiveTable td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px dashed #b9b8b8;
    color: #000 !important;
    
  }
  
  .responsiveTable th {
    background-color: #f4f4f4;
  }
  .responsiveTable thead tr th {
    color: #222 !important;
    font-size: 14px;
    background-color: #fff !important; 
  }
  .responsiveTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .responsiveTable tbody tr:hover {
    background-color:#f1f1f1; /* #f1f1f1;*/
  }
  
  .published  span {
    font-size: 12px;
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  .declined span {
    font-size: 12px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  .pending-review span {
    background-color: orange;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  .draft span {
    background-color: rgb(204, 204, 204);
    font-size: 12px;
    color: #222;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  .responsiveTable tbody tr td:first-child > span {
    color: #2d3436;
    font-weight: bold !important;
  }

  @media (max-width: 768px) {
    .responsiveTable tbody,
    .responsiveTable thead {
      width: 100%; 
      margin-left: auto;
      margin-right: auto;
      display: block;
      overflow: hidden;
    }
    .responsiveTable th,
    .responsiveTable td {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 688px) {
    
  
    .responsiveTable thead {
      display: none;
    }
  
    .responsiveTable tbody tr {
      display: block;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
    }
  
    .responsiveTable tbody tr td {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border: none;
      border-bottom: 1px solid #ddd;
    }
  
    .responsiveTable tbody tr td:last-child {
      border-bottom: none;
    }
    /*
    .responsiveTable tbody tr td:before {
      content: attr(data-label);
      font-weight: bold;
      flex: 1;
      text-align: left;
    }*/
  
    .responsiveTable tbody tr td[data-label="Status"] {
      display: flex;
      justify-content: space-between;
    }
  }
  

  .tableContainer > ul {
    display: none !important;
  }

  .tableContainer > ul > li {
    display: block;
    width: 100%; 
    font-size: 13px;
    padding: 10px 0px;
    border-bottom: 1px dashed #ddd;
  }
  .tableContainer > ul > li > div {
    display: flex;
    flex-direction: column;
  }
  .tableContainer > ul > li > div > a {
    font-weight: bold;
    color: #000 !important;
    font-size: 15px; 
  }

  .headline-title { 
    margin-top: 25px;
    padding: 0;
    line-height: 35px;
    border-left: 3px solid #2c3436;
    color: #2c3436;
    padding-left: 15px;
    font-weight: bold;
    font-size: 18px;
  }

  @media only screen and (max-width: 800px) {
    .tableContainer table {
      display: none !important;
    }

    .tableContainer >  ul {
      display: block !important;
    }
  }

  @media only screen and (max-width: 400px) {
    .serial-pagination {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .serial-pagination ul {
      justify-content: center;
      flex-wrap: wrap;
    }
    .serial-pagination span {
      margin: 0 auto;
    }
  }

  .td-of-tble ul  {
    display: flex;
    
    gap:8px;
  }

  .td-of-tble ul li:not(:first-child) {
    visibility: hidden;
  }

  .td-of-tble:hover ul li {
    visibility: visible;
  }

  .td-of-tble ul li a {
    font-size: 12px;
  }

  .td-of-tble ul li  a[data-color='red'] {
    color: tomato;
    font-weight:bold;
  }

  .td-of-tble ul li a[data-color='blue'] {
    color: rgb(66, 118, 230);
    font-weight:bold;
  }

  .statistics_blocks {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .statistics_blocks ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  .statistics_blocks ul li {
    border: 1px solid #dfdfdf;
    flex-grow: 1;
    border-radius: 5px;
    padding: 10px;
    display: flex; 
    align-items: center;
    gap: 15px;
  }

  .statistics_blocks ul li > span:first-child {
    flex-shrink: 0 !important;
    font-size: 24px;  
    border-right: 1px solid #dfdfdf;
    padding-left: 5px;
    padding-right: 18px;
  }
  .statistics_blocks ul li > span:last-child {
    flex-shrink: 0 !important;
  }

  .statistics_blocks ul li span span, 
  .statistics_blocks ul li span i {
    display: block;
    width: 100%;
    color: #000;
  }
  .statistics_blocks ul li span span {
    font-size: 15px; 
    color: #999;
  }

  .statistics_blocks ul li span i {
    font-weight: bold;
    font-size: 25px;
    color: #000;
  }

  .has-filter i {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
    color: #dfdfdf;
  }

  .has-filter i:hover {
    color: #000;
    border: 1px solid #000;
  }

  .serial-pagination {
    display: flex;
  }

  .serial-pagination > span {
    margin-left: auto;
  }

  .serial-pagination > ul {
    display: flex;
    gap: 10px;
  }

  .serial-pagination > ul > li > a,
  .serial-pagination > span {
    padding: 5px 10px;
    display: flex;
    
    
    font-size: 13px;
    min-width: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }

  .serial-pagination > ul > li > a {
    border: 1px solid #dfdfdf;
    color: #000 !important;
    border-radius: 3px;
  }

  .serial-pagination > ul > li > a.active {
    background-color: #222;
    color: #fff !important;
  }

  .edit-view-movile {
    margin-top: 15px;
    display: flex;
    gap: 15px;
  }
 

  